* {
    box-sizing: border-box;
    text-align: center;

}

:root {
    --dark-background: rgb(8, 84, 247);
    --light-background: rgb(8, 84, 247);
    --light-text: white;

    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;

    /** below is copied from wcag's guidelines for AA foreground constrast **/

    --red: 65;
    --green: 60;
    --blue: 230;
    --aa-brightness: calc((
        (var(--red) * 299) +
        (var(--green) * 587) +
        (var(--blue) * 114)) / 1000);
    --aa-brightness: calc((
        (var(--red) * 299) +
        (var(--green) * 587) +
        (var(--blue) * 114)) / 1000);


    --aa-color: calc((var(--aa-brightness) - 128) * -1000);
    background: rgb(var(--red), var(--green), var(--blue));
    color: rgb(var(--aa-color), var(--aa-color), var(--aa-color));
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 200vh;
    margin: 0 auto;
}

p {
    padding: 5rem;
    font-size: calc(0.5rem + 1.5vw);
    max-inline-size: 60ch;
    min-inline-size: 30ch;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: 300;
}


h1 {
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-size: calc(2rem + 2vw);
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
}

header {
    font-size: 6rem;
    padding: 2rem;
    width: 100%;
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

iframe {
    height: 60vh;
    margin: 2rem;
    margin-bottom: 5rem;

    width: 1060px;
    height: 601px;

    border: 5px solid black;
    border-radius: 5px;
}

.waveform {
    background-image: url("./images/waveform-background.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    box-shadow: 0 0 60px 12px rgb(0, 0, 0);
}

.content,
.work-container,
.about-container,
.contact-container,
.interactive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 2;
    padding: 2rem;
}

.about-container img {
    border-radius: 50%;
}

.quote-container,
.logo-container {
    display: flex;
    width: 100vw;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 3rem;
    width: 3rem;
}

.logo-container span {
    font-size: 2rem;
}