* {
    box-sizing: border-box;
    text-align: center;
}

:root {
    --dark-background: rgb(240, 154, 154);
}

.dark {
    background-color: var(--dark-background);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 150vh;
    margin: 0 auto;
}

header {
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    margin: 2rem 40rem;
    font-size: 2rem;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

.logo {
    font-size: 6rem;
    padding: 2rem;
}

.content {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}

p {
    padding: 5rem;
    font-size: 2rem;
}

iframe {
    height: 500px;
}

.design {
    width: 60vw;
    height: 30vw;
}

.track-3 {
    display: flex;
    height: calc(30vw / 7);
}

.track-3 .clip {
    background-color: purple;
}

.track-3 .blank {
    background-color: grey;
}

.track-3 .one {
    flex: 3;
}

.track-3 .two {
    flex: 3;
}

.track-3 .three {
    flex: 1;
}

.track-3 .four {
    flex: 3;
}

.track-3 .five {
    flex: 2;
}

.track-3 .six {
    flex: 3;
}

.track-3 .seven {
    flex: 10;
}

.track-3 .eight {
    flex: 3;
}

.track-3 .nine {
    flex: 10;
}

.track-3 .ten {
    flex: 2;
}

.track-3 .eleven {
    flex: 1;
}

footer {
    font-size: 2rem;
    width: 100%;
    padding: 2rem;

    text-align: center;
}